<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzw.springcloud.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="com.xzw.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        id id,
        serial serial
        from payment
        where id = #{id};
    </select>

    <insert id="add" parameterType="Payment">
        insert into
            payment(
                id,
                serial
            )
        values
        (
            #{id},
            #{serial}
        );
    </insert>

</mapper>